# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
/client/dist
/client/build

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MongoDB data directory
/data

# Ngrok files
ngrok-info.json

# OS files
.DS_Store